.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.App-logo {
  height: 10vmin;
}
.App-header {
  top: 0;
}
.App-header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top: 0;
  right: 0;
}
.App-link {
  color: #09d3ac;
}
.main {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* width: 90%; */
  /* margin: 0 0 0 10%; */
}
.main div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .right {
  align-self: flex-end;
  padding: 1em;
} */

button {
  font-size: 24px;
  border: none;
  border-radius: 2em;
  height: 2em;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0.3em;
  cursor: pointer;
}
.bluetoothButton {
  color: white;
  background-color: #0a3c91;
  padding: 0 calc(1em + 20px) 0 1em;
  width: 8em;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.blelogo {
  height: 40px;
  width: 40px;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.appearIn {
  animation: appear 1s forwards;
}
.appearInInfinite {
  animation: appear 1s infinite;
}

.displayContainer {
  width: 100%;
  height: 100%;
}
canvas {
  width: 100vw;
  height: 100vh;
}
.canvas-border {
  /* border: 1px solid grey; */
}
.HUD {
  position: absolute;
  z-index: 3;
}
.innerbox {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
}
